header {
    box-shadow: 0px 1px 5px lightblue;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}