@import '../base/font';

.introduccionHydro {
    padding: 20px;
    display: flex;
    justify-content: center;
    animation: myAnim 0.5s ease 0s 1 normal forwards;

    @keyframes myAnim {
        0% {
            transform: scale(0.5);
        }
    
        100% {
            transform: scale(1);
        }
    }
    
    p {
        text-align: map-get($map: $p-text, $key: p-text-align);
        font-size: map-get($map: $p-text, $key: p-font-size);
        line-height: map-get($map: $p-text, $key: p-line-height);
    }
}
