.nuestraHistoria {
    display: flex;
    justify-content: center;
}

.nuestraHistoriaItems {
    display: flex;
    padding: 100px;

}

.lineaTemporalContainer {
    padding: 20px 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    column-gap: 5%;
    animation: atencion 2s ease 0s 1 normal forwards;
    @keyframes atencion {
        0%,
        50%,
        100% {
            opacity: 1;
        }
    
        25%,
        75% {
            opacity: 0;
        }
    }
}

.verticalLine {
    border-left: 2px solid black;
    height: 100%;
}

.nosotros {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .card {
        margin: 20px;
        width: 20rem;
    }
    
}

.conocenosLabel {
    display: flex;
    justify-content: center;
}