@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reseteo, lo primero que debemos poner */
* {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 868px) {

    .footerContainer {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }    

    .contenidoHomeContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 20px 100px
    }

}

.navImage img {
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
}

.navLinks {
    display: flex;
    justify-content: right;
    align-items: center;
}

.navContainer {
    display: flex;
    width: 100%;
}

.footerContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footerLink {
    display: flex;
    padding: 2px 20px;
}

.imgLogo {
    width: 70px;
    height: 70px;
}

header {
    box-shadow: 0px 1px 5px lightblue;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}

footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    box-shadow: 0px 1px 5px lightblue;
    z-index: 1000;
}

.portadaHYDRO {
    display: flex;
    width: 100%;
}

.portadaHYDRO img {
    width: 100%;
}

.introduccionHydro {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.introduccionHydro p {
    text-align: center;
    font-size: 1em;
    line-height: 2em; /* line-height: 1.5 establece el interlineado a un 150% del tamaño de la fuente */
}

.contenidoHomeContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 100px;
}

.contenidoHomeContainer .video {
    width: 45%;
    display: flex;
    justify-content: center;
}

.contenidoHomeContainer .texto {
    text-align: center;
    font-size: 1em;
    line-height: 2em; 
}

.contenidoHomeContainer .imagenEquipoHome {
    padding-left: 20px;
}

.featuresContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 100px;
}

.featuresContainer .card {
    margin: 20px;
    width: 20rem;
}



.serviceTab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border: 2px solid #107E7D; 
    border-radius: 15px; 
    flex-wrap: wrap;
}

.serviceTab img {
    width: 500px;
    padding: 10px;
    border-radius: 15px;
}

.serviceTab p {
    text-align: center;
    font-size: 1em;
    line-height: 2em; /* line-height: 1.5 establece el interlineado a un 150% del tamaño de la fuente */
}

.pill {
    background-color: #107E7D;
}

.nav-pills .nav-link {
    background-color: white ;/* Color de fondo predeterminado */
    color: black; /* Color del texto predeterminado */
}

.nav-pills .nav-link:hover {
    background-color: #107E7D; /* Color de fondo al pasar el mouse */
}

.nav-pills .nav-link.active {
    background-color: #107E7D; /* Color de fondo cuando está activo */
    color: white; /* Color del texto cuando está activo */
}

.botonContacto {
    padding: 30px;
    display: flex;
    justify-content: center;
}

/* Estilo personalizado para el botón */
.contact-button {
    color: white; /* Cambia este valor al color de texto deseado */
    border: 2px solid #107E7D;
}

.contact-button:hover {
    background-color: #107E7D; /* Cambia este valor al color de fondo deseado al pasar el mouse */
}

.contact-button:after {
    background-color: #107E7D; /* Cambia este valor al color de fondo deseado al pasar el mouse */
}

/* Estilo personalizado para el enlace dentro del botón */
.contact-link {
    color: black; /* Cambia este valor al color de texto deseado */
    text-decoration: none; /* Opcional: Eliminar subrayado */
}